*{
    font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
    font-size:1em;
    padding:0;
    margin:0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}    

.homepage{
    border: none;
    border-collapse: collapse;
}
table{
    border: 3px solid lightseagreen;
    border-collapse: collapse;
}
td{
    border: 1px solid lightseagreen;
    height: 1.5em;
    padding: 5px;
}
.subtitle{
    font-size: 1.2em;
}
a{
    border: 1px dashed lightseagreen;
    padding:5px;
    width:50px;
    height:30px;
    border-radius:5px;
    text-align: center;
    line-height:1.5em;
    font-size:1em;
}    

